.footerBox {
    width: 100vw;
    height: 120px;
    background: #DFE6ED;
    border-top: 1px solid #9EADBA;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 0;
}

.footerBox p {
    width: 70vw;
    font-size: 20px;
}

.footerSession {
        margin-top: -10px;
}

.posterBox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 100px;
    margin: 0 30px 0 20px;
    background: #FFFFFF;
}

.footerBox img {
    width: 65px;
    height: 90px;
}