.movieSessions {
    margin: 25px 25px 120px 25px;
}

.session {
    font-size: 20px;
}

.session>div {
    display: flex;
}

.times {
    width: 85px;
    height: 45px;
    border-radius: 3px;
    margin: 0 4px 15px 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #E8833A;
    font-size: 18px;
}