a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
}

.header {
    width: 100vw;
    height: 70px;
    background-color: #C3CFD9;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
}

.header>p {
    font-size: 35px;
    color: #E8833A;
}